* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
}

.toolbar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
}

a.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.hamburger {
  text-decoration: none;
  /* width: 30px; */
 
}

.presentation-page {
  background-image: url(../images/Mobile.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  padding: 8rem 1rem;
  margin-top: 3.5rem;
  background-color: #ffffff;
}

.presentation-text {
  font-size: 52px;
  font-style: normal;
  align-items: center;
  color: #172b4d;
  font-weight: 700;
  line-height: 1.3;
}

.presentation-page p {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  width: 327px;
  height: 146px;
  color: #344563;
  margin-top: 19px;
  margin-left: 4px;
}

.social {
  padding-top: 12px;
  gap: 19px;
  list-style: none;
  color: #6070ff;
  font-size: 16;
  font-weight: 500;
}

.social li {
  display: inline;
  margin: 0.5rem;
}

h3 {
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 4px;
  margin-left: 4px;
  font-weight: 800;
  height: 24px;
}
.card {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 16px;
}

.card li {
  list-style-type: none;
  display: inline;
  background: #ebebff;
  border-radius: 8px;
  padding: 0.3rem 0.6rem;
  margin: 0.2rem;
  color: #396df2;
}

.card ul {
  margin: 1rem 0;
}

.card h3 {
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0 2rem;
}

.card h4 {
  font-size: 13px;
  font-weight: 600;
  margin: 1.5rem 0;
}

.light {
  color: #7a869a;
}

.btn {
  color: #396df2;
  padding: 0.8rem;
  border: solid #396df2 2px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  border-radius: 16px;
  margin: 1rem 0;
  display: inline-block;
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 4rem 1rem;
}

.card img {
  width: 100%;
}

.presentation {
  background-repeat: no-repeat;
  padding: 8rem 1rem;
  margin-top: 3.5rem;
  background-color: #ffffff;
  height: 1263px;
}

.presentation p {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  width: 327px;
  height: 146px;
  color: #344563;
  margin-top: 19px;
  margin-left: 4px;
}
