@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  padding: 0;
  margin: 0;
  background: #191765;
  font-family: 'Inter', sans-serif;
  color: #f5f5ff;
}

.desktop {
  display: none;
}

.hide-d {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 25px;
  margin-top: 10%;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.mobile {
  font-size: 30px;
  cursor: pointer;
}

.bar-link1,
.bar-link2,
.bar-link3 {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

/* nav mobile menu overlay */
#mobileNav {
  background-color: #191765;
  background-image: url(./imgs/mobilemenu.png);
  background-repeat: no-repeat no-repeat;
  background-position: 0 90px;
  background-size: cover;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #edecff;
  transition: 0.3s;
  text-align: left;
}

#hamburger-icon {
  margin: auto 0;
  z-index: 999;
}

.heavy-right {
  color: #1780f0;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.3s;
}

.open #bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open #bar2 {
  opacity: 0;
}

.open #bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #191765;
  mix-blend-mode: normal;
  position: fixed;
  gap: 25px;
  padding: 40px 0 0;
  z-index: -1;
}

#overlay {
  display: block;
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #191765;
  background-image: url(./imgs/Top\ circles.png);
  background-repeat: no-repeat;
}

.closeX {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
  height: 54px;
  width: 34px;
  left: 8px;
  border-radius: 0;
}

.post {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  color: #fff;
}

.popup {
  display: none;
  padding: 24px 30px 50px;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 10;
  width: auto;
  height: 90vh;
  margin: 5% 5% 3%;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 0;
}

.popup p {
  width: 279px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.d-none {
  display: none;
}

.popbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.button {
  padding: 12px 9px;
  width: 108px;
  height: 48px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #edecff;
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.list-items {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.list-items li {
  border-left: 1px solid #fff;
  border-right: none;
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  padding: 0 2%;
  text-align: center;
}

#github {
  border-right: 1px solid #fff;
}

.main-section {
  text-align: center;
  padding: 19px;
  background-image: url(./imgs/Ellipse18.svg);
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.37px;
  line-height: 72px;
  font-size: 48px;
  font-weight: 700;
  color: #7d73fc;
  padding: 63px 0 0 10px;
  margin: 0;
}

.main-section h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 44px;
  font-size: 32px;
  font-weight: 500;
  color: #edecff;
  text-align: center;
  padding: 30px 0 0 20px;
  margin: 0;
}

.main-section p {
  width: 327px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  color: #c8c8d4;
  line-height: 28px;
}

.langlist {
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(./imgs/Ellipse19left.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: top;
}

.langlist h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #9490ff;
  font-size: 12px;
  line-height: 24px;
}

.langlist ul {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  list-style: none;
}

.item {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  border-right: 1px solid #555;
  color: #fff;
}

.Ruby {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}

.langlist ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  height: 50.15px;
}

.icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 50px 30px;
}

.arrow-work {
  display: none;
}

.myrecent-work {
  padding: 0 24px;
}

.myrecent-work h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: left;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  padding-left: 0;
  padding-bottom: 30px;
}

.devider1 hr {
  border: 1px solid #646369;
  margin: 0 24px;
}

.devider hr {
  border: 1px solid #646369;
}

.work {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.work h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #a2a3ae;
  padding: 0 10px;
}

#work-section {
  display: grid;
  padding: 0;
}

.background-img1 {
  padding: 50px 24px;
  background-image: url(./imgs/Ellipse1.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.card-img img,
.card-img1 img {
  width: 100%;
}

.card-text p {
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  padding: 20px 0;
  color: #dcdce8;
  font-weight: 400;
}

.card-text h2 {
  width: 327px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 0;
  font-size: 32px;
}

.list-item {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: flex-start;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #07ff;
  cursor: pointer;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.btn {
  font-weight: 500;
  font-size: 12px;
  color: #edecff;
  height: 48px;
  border: none;
  cursor: pointer;
}

.background-img2 {
  padding: 50px 24px;
  background-image: url(./imgs/Ellipse2.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.background-img3 {
  padding: 50px 24px;
  background-image: url(./imgs/Ellipse3.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.background-img4 {
  padding: 50px 24px;
  background-image: url(./imgs/Ellipse4.svg);
  background-position: right;
  background-repeat: no-repeat;
}

.form-contact {
  padding: 24px;
}

.form-contact h3 {
  font-size: 32px;
  text-align: center;
  padding-left: 0;
  color: #9490ff;
}

.form-contact p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
  width: 327px;
  margin: 12px 0;
}

#text-message {
  width: 327px;
  height: 148px;
  margin: 12px 0;
}

#text-message::placeholder,
.input-name::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
}

.input-email::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #191765;
}

#btn {
  margin: 30px 120px;
}

.email-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devider-line hr {
  border: 1px solid #3a3837;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 10px;
  list-style: none;
  width: 50%;
  margin: 0;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}

.btn:hover {
  background: #7d73fc;
  color: #fff;
  font-size: 12px;
}

.btn:active {
  background: #5e42d7;
  color: #eaeaf6;
  font-size: 12px;
}

.btn:disabled {
  background: #2a2b33;
  cursor: not-allowed;
  color: #c8c8d4;
  font-size: 12px;
}

#img img {
  width: 100%;
  height: 181px;
}

/* media query */
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .hide {
    display: none;
  }

  .work1 {
    display: none;
  }

  body {
    display: grid;
    padding: 0;
  }

  header {
    margin: 0;
    padding-top: 26px;
  }

  #work-section {
    display: grid;
    padding: 0;
  }

  .logo {
    margin-left: 5rem;
    animation: rotateZ 5s;
  }

  @keyframes rotateZ {
    to {
      transform: rotate(360deg);
    }
  }

  .desktop {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  .desktop ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .logonav a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-left: 3rem;
  }

  .logonav img {
    margin-right: 5rem;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imgs/circle1header.svg);
    background-repeat: no-repeat;
    background-position: left;
  }

  .main-section h1 {
    font-family: "Roboto", sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 105px;
    text-align: center;
    padding-left: 0;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 200%;
    }

    to {
      margin-left: 0%;
      width: 50%;
    }
  }

  .main-section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    text-align: center;
    padding: 24px 0;
  }

  .main-section p {
    width: 447px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding: 64px 25% 0;
  }

  #overlay {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    overflow: auto;
    height: 1980px;
    background: #191765;
    background-image: url(./imgs/two\ circles\ header.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .popup {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 13% 10% 3%;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 0;
    height: 1550px;
    width: 76%;
  }

  .post {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 32px;
    margin: 45px 0;
    color: #fff;
  }

  .closeX {
    color: #fff;
    float: right;
    font-size: 80px;
    font-weight: bold;
    margin-right: 70px;
  }

  .popup p {
    display: block;
    width: 684px;
    height: 236px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin: 70px 100px 88px;
  }

  .devider1 {
    margin: 30px 25% 0;
  }

  .langlist {
    display: flex;
    justify-content: space-around;
    background-image: url(./imgs/circle2header.svg);
    background-position: right;
    padding: 30px 25% 20px;
  }

  .langlist ul {
    padding: 37px 0;
  }

  h3 {
    font-family: "Roboto", sans-serif;
  }

  .icons {
    width: 20%;
  }

  .work-line {
    display: flex;
    justify-content: space-around;
    padding: 100px 10% 20px;
  }

  .arrow-work {
    padding-bottom: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  .arrow-work h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    color: #b3bac5;
    margin-top: -5px;
  }

  .arrow-work img {
    width: 28px;
    height: 21.3px;
    padding: 1px;
  }

  .myrecent-work {
    padding-left: 10%;
    padding-right: 10%;
  }

  .background-img1 {
    display: flex;
    background-image: url(./imgs/Ellipse19.svg);
    background-position: left;
    padding: 60px 10% 0;
  }

  .card-img {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 684px;
    height: 448px;
    margin-right: 24px;
    margin-top: 9px;
  }

  .card-text {
    width: 45%;
  }

  .card-img1 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 684px;
    height: 448px;
    margin-left: 24px;
    margin-top: 6px;
  }

  .card-text h2 {
    display: block;
    width: 448px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    margin-top: 40px;
  }

  .card-text p {
    display: block;
    width: 448px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .background-img2 {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(./imgs/Ellipse20.svg);
    background-position: bottom right;
    padding: 88px 10% 0;
  }

  .background-img3 {
    display: flex;
    background-image: url(./imgs/Ellipse21.svg);
    background-position: left;
    padding: 88px 10% 0;
  }

  .background-img4 {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(./imgs/Ellipse22.svg);
    background-position: top right;
    padding: 88px 10% 0;
  }

  .myrecent-work h2 {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 114px;
    text-align: left;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* padding: 114px 0; */
    gap: 88px;
    height: 867px;
    left: 378px;
    top: 3720px;
  }

  .form-contact h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    color: #9490ff;

    /* margin-bottom: -70px; */
    margin: 100px 0 -70px;
  }

  .form-contact p {
    font-size: 20px;
    line-height: 28px;
    padding: 10px 18%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 684px;
    height: 274px;
  }

  #bbtn {
    gap: 10px;
    width: 160px;
    height: 48px;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: #fff;
    padding: 10px 60px;
    margin-left: 250px;
    margin-top: 80px;
  }

  .popbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 90px 37%;
  }

  #img img {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 50px 0 40px;
  }

  .hide-d {
    display: block;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 15px;
    gap: 24px;
    width: 682px;
    height: 48px;
  }

  .row #yname {
    height: 48px;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #6d6c70;
  }

  #input-email {
    width: 684px;
  }

  #textarea-message {
    width: 100%;
    height: 148px;
    margin: 12px 0;
  }

  #textarea-message::placeholder {
    padding-left: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #81818c;
  }

  .email-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
  }

  .icon {
    width: 15%;
    padding: 0;
  }

  .email {
    padding: 0 10px;
  }
}
