body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #191765;
  color: #fff;
}

.desktop {
  display: none;
}

.bar {
  display: none;
}

.logobar {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  margin-top: 10%;
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
}

h1 {
  margin-bottom: 0;
  padding: 30px 0 0 10px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #7d73fc;
  letter-spacing: 0.37px;
}

h2 {
  margin: 0;
  padding: 30px 0 0 10px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #edecff;
}

h1,
h2,
p {
  width: 85%;
}

.main-section p {
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  font-size: 20px;
  margin: 0;
  padding: 50px 20px;
  font-weight: 400;
}

.main-section {
  background-image: url(/imgs/Ellipse18.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.Langlist {
  background-image: url(/imgs/Ellipse19left.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
  flex-wrap: wrap;
  background-position-y: top;
}

h4 {
  color: #9490ff;
}

.Langlist ul {
  color: #f5f5ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}

.devider-skill hr {
  border: 1px solid #646369;
  margin: 42px 24px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: left;
}

/* Work section Cards */
.work {
  padding: 0 24px;
}

.work h2 {
  text-align: left;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  padding-left: 0;
  padding-bottom: 30px;
}

.devider-up hr {
  border: 1px solid #646369;
  margin: 0 24px;
}

.devider hr {
  border: 1px solid #646369;
  height: 0;
}

.work-section {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.work-section h3 {
  font-size: 30px;
  color: #a2a3ae;
  padding: 0 10px;
}

#work-section {
  display: grid;
  padding: 0;
}

.background-card1 {
  background: url(imgs/Ellipse1.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding: 48px 24px;
}

.card-img img,
.card-img1 img {
  width: 100%;
}

.card-text p {
  margin-bottom: 50px;
  padding: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
}

.background-card2 {
  background: url(imgs/Ellipse2.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 40px 29px;
}

.background-card3 {
  background: url(imgs/Ellipse3.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding: 20px 24px;
}

.background-card4 {
  background: url(imgs/Ellipse4.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding: 40px 24px;
}

.list-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.list-items li {
  border-right: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  padding: 5px 5% 5px 0;
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 500;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  color: #edecff;
  border: 0;
  font-size: 12px;
  cursor: pointer;
}

/* The contact form */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.form-content h2 {
  color: #9093ff;
  padding: 0;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  font-weight: 500;
}

.form-content p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #f5f5ff;
  width: 327px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 87%;
}

.input-email::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #191765;
}

input {
  height: 48px;
  width: 100%;
  margin: 12px 0;
}

#text-message::placeholder,
.input-name::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #81818c;
}

#text-message {
  height: 148px;
  width: 100%;
  margin: 12px 0;
}

#button {
  display: flex;
  justify-content: center;
  margin: 30px 100px;
}

.devider-line hr {
  border: 1px solid #3a3837;
  margin: 0 24px;
}

.email-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 10px;
  list-style: none;
  width: 50%;
  margin: 0;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}

.button:active {
  background: #5e42d7;
}

.button:disabled {
  background: #2a2b33;
  cursor: not-allowed;
}

.button:hover {
  background: #7d73fc;
}

/* The starting of media */
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .work-section1 {
    display: none;
  }

  span {
    display: none;
  }

  .logobar {
    padding-top: 26px;
    margin: 0;
  }

  .desktop {
    display: block;
    width: 40%;
  }

  .desktop ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
  }

  .bar-list a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }

  h1 {
    margin-bottom: 0;
    padding: 30px 0 0 10px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #7d73fc;
    letter-spacing: 0.37px;
  }

  h2 {
    margin: 0;
    padding: 30px 0 0 10px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #edecff;
  }

  h1,
  h2 {
    width: 1156px;
  }

  .main-section p {
    width: 447px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    font-size: 20px;
    margin: 0;
    padding: 50px 20px;
    font-weight: 400;
  }

  .main-section {
    background-image: url(/imgs/circle\ 1\ header.svg);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .devider-up hr {
    margin: 30px 25% 0;
  }

  .Langlist {
    background-image: url(/imgs/circle\ 2\ header.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    padding: 30px 25% 20px;
  }

  h4 {
    color: #9490ff;
  }

  .Langlist ul {
    color: #f5f5ff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    list-style: none;
    padding: 37px 0;
  }

  .devider-skill hr {
    border: 1px solid #646369;
    margin: 42px 25%;
  }

  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .icon {
    width: 15%;
  }

  .work-arrow {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bar h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    padding: 0;
    color: #b3bac5;
  }

  .bar img {
    width: 18px;
    height: 21.3px;
    padding: 5px;
  } 
/* the work section */
  .work {
    padding-left: 10%;
    padding-right: 10%;
  }

  .background-card1 {
    display: flex;
    background-image: url(imgs/Ellipse19.svg);
    background-position: left;
    padding: 50px 10% 88px;
    width: 80%;
  }

  .card-img {
    width: 100%;
    margin-right: 24px;
  } 

  .card-text {
    width: 40%;
    margin-top: -40px;
  }

  .card-img1 {
    width: 100%;
    margin-left: -24px;
    margin-right: 54px;
  }

  .card-text h3 {
    width: 448px;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  .card-text p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 0;
  }

  .list-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 307px;
  }

  .background-card2 {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(imgs/Ellipse20.svg);
    background-position: bottom right;
    padding: 0 10% 88px;
    width: 80%;
  }

  .background-card3 {
    display: flex;
    background-image: url(imgs/Ellipse21.svg);
    background-position: left;
    padding: 0 10% 0;
    width: 80%;
  }

  .background-card4 {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(imgs/Ellipse22.svg);
    background-position: top right;
    padding: 88px 10% 0;
    width: 80%;
  } 

  .work h2 {
    font-family: "Roboto", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 114px;
    text-align: left;
  }

  .work br {
    display: none;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 684px;
    left: 290px;
    margin-right: 378px;
    margin-top: 90px;
  }

  /* .form-content p {
    width: 684px;
    font-size: 20px;
    line-height: 28px;
    padding: 10px 20%;
  } */

  /* .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 610px;
  }

  .row #name {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
  } */

  /* .email-icon,
  .devider-line hr {
    position: absolute;
    width: 1440px;
    left: 0;
    top: 3950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .email {
    padding: 0 10px;
  }  */
}
