body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #191765;
  color: #fff;
}

.logobar {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.logo {
  padding: 30px;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.1rem;
}

.menunav {
  margin: 25px 30px;
}

h1 {
  margin-bottom: 0;
  padding: 30px 0 0 10px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #7d73fc;
  letter-spacing: 0.37px;
}

h2 {
  margin: 0;
  padding: 30px 0 0 10px;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  color: #edecff;
}

p {
  width: 327px;
  height: 170px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
  padding: 20px;
}

.devider-up {
  padding: 0 30px;
  align-items: center;
  color: #646369;
}

.content-section {
  background-image: url(/imgs/Ellipse18.svg);
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-position-y: top;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.Langlist {
  background-image: url(/imgs/Ellipse19.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.Langlist ul,
.listf,
.langSkills ul {
  color: #f5f5ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}

.listf {
  margin-right: 100px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: left;
}

/* Work section Cards */
.work {
  padding: 0 24px;
}

.work h1 {
  text-align: left;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  padding-left: 0;
  padding-bottom: 30px;
}

.devider-up hr {
  border: 1px solid #646369;
  margin: 0 24px;
}

.devider hr {
  border: 1px solid #646369;
  height: 0;
}

.work-section {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.work-section h3 {
  font-size: 30px;
  color: #a2a3ae;
  padding: 0 10px;
}

#work-section {
  display: grid;
  padding: 0;
}

.background-card1 {
  background: url("imgs/Ellipse19\(2\).svg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 50px 24px;
}

.card-img img,
.card-img1 img {
  width: 100%;
}

.card-text p {
  margin-bottom: 50px;
  padding: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
}

.background-card2 {
  background: url("imgs/Ellipse20.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 24px;
}

.background-card3 {
  background: url("imgs/Ellipse21.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding: 50px 24px;
}

.background-card4 {
  background: url("imgs/Ellipse22.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 50px 24px;
}

.list-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.list-items li {
  border-right: 1px solid #fff;
  border-left: none;
  border-top: none;
  border-bottom: none;
  font-size: 15px;
  padding: 5px 5% 5px 0;
  text-align: center;
}

.button {
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: 500;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  color: #edecff;
  border: 0;
  font-size: 12px;
  cursor: pointer;
}

/* The contact form */
.contact-form {
  padding: 24px;
}

.contact-form h2 {
  color: #9093ff;
  padding: 0;
  font-size: 32px;
  text-align: center;
}

.contact-form p {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 48px;
  width: 100%;
  margin: 12px 0;
}

#text-message {
  height: 148px;
  width: 100%;
  margin: 12px 0;
}

#button {
  margin: 30px 0;
}

.devider-line hr {
  border: 1px solid #3a3837;
}

.email-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px 10px;
  list-style: none;
  width: 50%;
  margin: 0;
}

.email {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}

.button:active {
  background: #5e42d7;
}

.button:disabled {
  background: #2a2b33;
  cursor: not-allowed;
}

.button:hover {
  background: #7d73fc;
}
